@import url("https://fonts.googleapis.com/css2?family=Cuprum&family=IBM+Plex+Mono&display=swap");

:root {
	--main: #eb5e28;
	--super-light: #fffcf2;
	--light: #ccc5b9;
	--dark-grey: #403d39;
	--black: #252422;


	--error: #c1121f;
	--light-error: #f2a9ae;
	--correct: #588157;
	--correct-light: #a1cba0;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cuprum', sans-serif;
	background-color: var(--black);
}

header {
	background-color: var(--dark-grey);
	padding: 10px;
}

h2 {
	color: var(--light);
	text-align: center;
	font-size: 40px;
	margin: 20px 0;
}

h3 {
	color: var(--dark-grey);
	text-align: center;
	font-size: 30px;
	margin: 20px 0;
	text-decoration: underline;
}

#logo {
	color: var(--main);
	font-size: 50px;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	width: fit-content;
}

#logo:hover {
	color: var(--light);
	background-color: var(--main);
}

.container {
	border: 2px dotted var(--dark-grey);
	height: 1000px;
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-evenly;
}


form {
	background-color: var(--light);
	color: var(--dark-grey);
	padding: 20px;
	border-radius: 15px;
	max-width: 500px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}


button {
	font-family: 'Cuprum', sans-serif;
	font-size: 20px;
	background-color: var(--main);
	color: var(--light);
	padding: 7px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: var(--dark-grey);
	border: 1px solid var(--main);
	padding: 6px 14px;
}

.btnsUser{
	position: absolute;
	right: 0;
	top: 0;
	margin: 20px;
}
#btnBack {
	position: absolute;
	left: 10px;
	bottom: 10px;
}







/* ----------FORMS------------ */
#message{
	text-align: center;
	margin: 10px;
	font-size: 20px;
}

.show-password {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.show-password input {
	margin-left: 10px;
}


.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

.form-control label {
	color: var(--dark-grey);
	display: block;
	margin-bottom: 5px;
	font-weight: 800;
	font-size: 25px;
}

.form-control input {
	border: 2px solid var(--black);
	border-radius: 10px;
	font-size: 15px;
	display: block;
	width: 100%;
	padding: 10px;
	font-family: "Cuprum", sans-serif;
}

.form-control input:focus {
	outline: 0px;
	background-color: #fdf0d5;
	border-color: var(--main);
}

.form-control.correct input {
	border-color: var(--correct);
	background-color: var(--correct-light);
}

.form-control.error input {
	border-color: var(--error);
	background-color: var(--light-error);
}

.form-control small {
	color: var(--error);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	font-size: 15px;
}

.form-control.error small {
	visibility: visible;
}


