:root {
	--main: #FF1801;
	--super-light: #c5c5c5;
	--light: #597081;
	--black: #000000;
}

@font-face {
  font-family: f1font;
  src: url(fonts/Formula1-Regular-1.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'f1font', sans-serif;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--main);
	text-align: center;
	font-size: 40px;
	margin: 20px 0;
}

#btnStart {
	padding: 40px 70px;
	width: fit-content;
	border: 0;
	border-radius: 15px;
	background-color: var(--main);
	color: var(--super-light);
	font-size: 50px;
	font-family: 'f1font', sans-serif;
	font-weight: bold;
	position: absolute;
	top: 50%;
	cursor: pointer;
}

button:hover {
	background-color: var(--light);
	color: var(--black);
}



#btnHome {
	font-family: 'f1font', sans-serif;
	position: fixed;
	bottom: 5px;
	left: 5px;
	margin: 5px;
	padding: 5px;
	background-color: var(--main);
	font-size: 20px;
	height: 30px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
}

/* ----------STAGE 1 -------------- */


#containerStage1 {
	/* width: 100%;
	height: 100%; */
	display: none;
}

#imgDesktop {
	width: 98vw;
	height: 99vh;
	object-fit: cover;
}

#imgMap {
	text-align: center;
}

#imgMap img{
	height: 60vh;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

button img {
	height: 80px !important;
}