body {
	background-image: url('monaco.jpg');
}



button {
	font-size: 20px;
}

.container img {
	width: 600px;
}

.container {
	padding: 30px;
}

.options {
	display: flex;
	flex-direction: column;
}