:root {
	--main: #FF1801;
	--super-light: #c5c5c5;
	--light: #597081;
	--black: #000000;
}

@font-face {
  font-family: f1font;
  src: url(/fonts/Formula1-Bold_web.ttf);
}

@font-face {
  font-family: f1font2;
  src: url(/fonts/Formula1-Regular-1.ttf);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--black);
	font-family: "f1font", sans-serif,
		sans-serif;
}

h3{
	position: absolute;
	top: 15%;
	font-size: 25px;
	font-family: "f1font2";
}

h5{
	position: absolute;
	top: 20%;
	font-size: 25px;
	font-family: "f1font2";
}


h4{
	color: var(--main);
	position: absolute;
	bottom: 50px;
	left: 10px;
	font-size: 20px;
	background-color: black;
	padding: 5px;
	font-family: "f1font2";
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 90%;
	margin: 50px 50px 50px 50px;
	padding: 20px;
	border: 2px solid var(--main);
	border-radius: 20px;
}

.card {
	width: 12vw;
	height: 12vw;

	max-width: 150px;
	max-height: 150px;
	background-color: var(--black);
	border: 3px solid var(--main);
	margin: 5px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	cursor: pointer;
}

.card img {
	display: none;
	border-radius: 12px;

	width: 100%;
	height: 100%;
	margin: 20px;
}

.show {
	display: block !important;
	border: 0;
}

.message {
	position: absolute;
	top: 20px;
	margin-top: 30px;
	font-size: 35px;
}

button {
	font-family: 'f1font', sans-serif;
	padding: 10px 20px;
	border-radius: 35px;
	border: 2px solid var(--black);
	background-color: var(--main);
	color: var(--black);
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 10px;
}

.big {
	font-size: 40px;
	padding: 20px;
	position: absolute;
	top: 40%;
	display: block !important;
}

#btnHome {
	font-family: 'f1font', sans-serif;
	position: absolute;
	bottom: 5px;
	left: 5px;
	margin: 5px;
	padding: 5px;
	background-color: var(--main);
	font-size: 20px;
	height: 30px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
}

#message {
	font-family: 'f1font', sans-serif;
	text-align: center;
	margin: 20px;
}