/* #780000, #c1121f, #fdf0d5, #003049, #669bbc */

@import url("https://fonts.googleapis.com/css2?family=Cuprum&family=IBM+Plex+Mono&display=swap");



.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: #780000;
	display: block;
	margin-bottom: 5px;
	font-weight: 800;
	font-size: 20px;
}

.form-control input {
	border: 2px solid #780000;
	border-radius: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	font-family: "IBM Plex Mono";
}

.form-control input:focus {
	outline: 0px;
	background-color: #fdf0d5;
	border-color: black;
}

.form-control.correct input {
	border-color: var(--correct);
	background-color: var(--correct-light);
}

.form-control.error input {
	border-color: var(--error);
	background-color: var(--light-error);
}

.form-control small {
	color: var(--error);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


